/* ================================ */
         /* INVALID STATE */
/* ================================ */
.fieldError {
  display: none;
  font-size: 12px;
  color: var(--red-500);
  margin-top: 4px;
}

.form-validated input:invalid,
.form-validated select:invalid,
.form-validated textarea:invalid {
  border-color: var(--red-500);
}

.form-validated input:invalid + .fieldError,
.form-validated select:invalid + .fieldError,
.form-validated textarea:invalid + .fieldError {
  display: block;
}

.form-validated #vegToggleGroup:has(input:invalid) + .fieldError {
  display: block;
}

.form-validated #vegToggleGroup:has(input:invalid) .vegDot,
.form-validated #vegToggleGroup:has(input:invalid) .nonVegDot,
.form-validated #vegToggleGroup:has(input:invalid) .eggDot {
  outline: 1.5px solid var(--red-500);
  outline-offset: 2px;
}



.form-validated #starRatingInput:has(input:invalid) + .fieldError {
  display: block;
}

.form-validated #starRatingInput:has(input:invalid),
.form-validated #starRatingInput:has(input:invalid),
.form-validated #starRatingInput:has(input:invalid){
  outline: 1.5px solid var(--red-500);
  outline-offset: 2px;
}


/* ================================ */
         /* VALID STATE */
/* ================================ */
.fieldSuccess {
  display: none;
  font-size: 12px;
  color: #16a34a; 
  margin-top: 4px;
}

.form-validated input:valid,
.form-validated select:valid,
.form-validated textarea:valid {
  border-color:  #16a34a;
}

.form-validated input:valid ~ .fieldSuccess,
.form-validated select:valid ~ .fieldSuccess,
.form-validated textarea:valid ~ .fieldSuccess {
  display: block;
}

